body {
    color:white;
    background-image: linear-gradient(90deg, #1F1F1F 30%, black);
    font-family: Tahoma, sans-serif;
}

p {
    text-align: center;
}

gradientFont{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: linear-gradient(45deg, #99E28C 30%, #DFE16C);
    -webkit-background-clip: text; /* remove -webkit- before pushing */
    color: transparent;
    font-size: 50px;
    font-weight:900;
}

gradientFont small{
    font-size: 25px;
}

gradientFont :hover:before {
    color: WHITE;
    text-decoration: line-through;
    transition: 0.3s;
}

gradientFont creation:hover:before {
    content: "DESTRUCTION"
}

gradientFont inclusion:hover:before {
    content: "EXCLUSION"
}

gradientFont:hover span{
    display: none;
    text-align: center;
}

.rectContent {
    border: 2px solid #99E28C;
    margin: 0px 0px 20px 0px;
    border-color: #DFE16C;
    border-width: 4px;
    border-style: solid;
    box-shadow: 0 0 10px #99E28C, 0 0 10px #99E28C, 1px 1px 3px white;
}


.point1 img{
    float: left;
}

.sectionHeader {
    position: relative;
    text-align: center;
    padding: 200px 0px 200px 0px;
}

.sectionHeader img {
    opacity: 0.7;
}

.sectionTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.footer {
    background-image: linear-gradient(45deg, #99E28C 30%, #DFE16C);
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 100px;
    padding: 30px;
}

black {
    font-weight: bold;
    color: black;
    font-size: 20px;

}

.content {
    padding: 300px;
}

bigger {
    font-size: 50px;
}

bigger2 {
    font-size: 30px;
}

bolder {
    font-weight: bold;
}

.spacing {
    padding: 200px 0px 200px 0px;
}

.threeDiv {
    display: flex;
    justify-content: space-between;
    
}

.glowContainer { 
    padding: 20px;
    margin: 20px;
    border-color: #DFE16C;
    border-width: 4px;
    border-style: solid;
    box-shadow: 0 0 20px #99E28C, 0 0 20px #99E28C, 1px 1px 3px white;
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionRight{
    padding-top: 13%;
    text-align: right;
}

.action{
    padding-top: 12%;
}

.actionItems{
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;

}
regular{
    text-align: left;
    line-height: 2;
}

left{
    text-align: left;
}

